nav{
    text-transform: uppercase;
    background-color: rgba(255, 0, 0, 0.644);
}
nav li a{
    margin-right: 10px;
    border-radius: 15px;
}
nav li a{
    font-weight: bold;
}

.box{
    background-color: rgb(223, 219, 219);
    padding: 20px;
    border-radius: 15px;
    width: 1200px;
    margin-top: 40px;
    margin-left: -40px;
}
table th{
    border-radius: 15px;
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.644);
    width: 300px;
    color: white;
}
table input{
    text-transform: uppercase;
}
table td{
    padding-right: 10px;
    text-align: center;
}
.botao-editar{
    text-align: center;
    margin-left: 60px;
    margin-right: -10px;
    text-decoration: none;
}

#btnincluir{
    background-color: rgba(0, 0, 255, 0.596);
    transition: all;
    color: white;
    border-color: 1px rgba(0, 0, 255, 0.596);
    text-transform: uppercase;
}
#btnincluir:hover{
    background-color: blue;
    color: white;
    text-transform: uppercase;
}


